In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import koreanize_matplotlib

In [5]:
from glob import glob
file_names = sorted(glob('*.csv'))
file_names

['200801_201106.csv',
 '201107_201412.csv',
 '201501_201806.csv',
 '201807_202112.csv']

In [6]:
df_1 = pd.read_csv(file_names[0])
df_2 = pd.read_csv(file_names[1])
df_3 = pd.read_csv(file_names[2])
df_4 = pd.read_csv(file_names[3])

In [8]:
df_1.head()

    행정구역    연도  월   연령대     인구수
0  서울특별시  2008  1  0~9세  959906
1  부산광역시  2008  1  0~9세  309247
2  대구광역시  2008  1  0~9세  253570
3  인천광역시  2008  1  0~9세  289401
4  광주광역시  2008  1  0~9세  171638

In [11]:
df_all = pd.concat([df_1, df_2, df_3, df_4])
df_all.to_csv('연령별_인구현황(2008~2021).csv', index = False)

In [12]:
df = pd.read_csv('연령별_인구현황(2008~2021).csv')
df.head()

    행정구역    연도  월   연령대     인구수
0  서울특별시  2008  1  0~9세  959906
1  부산광역시  2008  1  0~9세  309247
2  대구광역시  2008  1  0~9세  253570
3  인천광역시  2008  1  0~9세  289401
4  광주광역시  2008  1  0~9세  171638

In [14]:
df['행정구역'].value_counts()

서울특별시      1848
충청북도       1848
제주특별자치도    1848
경상남도       1848
경상북도       1848
전라남도       1848
전라북도       1848
충청남도       1848
강원도        1848
부산광역시      1848
경기도        1848
울산광역시      1848
대전광역시      1848
광주광역시      1848
인천광역시      1848
대구광역시      1848
세종특별자치시    1254
Name: 행정구역, dtype: int64

세종특별자치시는